.Base
  .Base__chat
    .Base__chat__groupInfo
      .Base__chat__groupInfo__step
        .Base__chat__groupInfo__step__name
          test
        = link_to "#", class: "Base__chat__groupInfo__step__btn" do
          Edit
      .Base__chat__groupInfo__member
        Member : masa
    .Base__chat__display
      = render "messages/temporaryMessage"
      = render "messages/temporaryMessage"
    .Base__chat__form
      .Base__chat__form__area
        .Base__chat__form__area__textForm
          %input{type: "text", class: "Base__chat__form__area__textForm__text", placeholder: "type a message"}
          %label{class: "Base__chat__form__area__textForm__image"}
            = icon('far', 'image')
            %input{type: "file", class: "Base__chat__form__area__textForm__image__icon"}
        %input{type: "submit", value: "Send", class: "Base__chat__form__area__sendBtn"}
