.Space
  .Space__chat
    .Space__chat__groupInfo
      .Space__chat__groupInfo__step
        .Space__chat__groupInfo__step__name
          test
        = link_to "#", class: "Space__chat__groupInfo__step__btn" do
          Edit
      .Space__chat__groupInfo__member
        Member : masa
    .Space__chat__display
      .Space__chat__display__info
        .Space__chat__display__info__name
          masa
        .Space__chat__display__info__time
          2020/06/24(Wed) 18:00:00
      .Space__chat__display__text
        message
      .Space__chat__display__info
        .Space__chat__display__info__name
          masa
        .Space__chat__display__info__time
          2020/06/24(Wed) 18:00:00
      .Space__chat__display__text
        message
    .Space__chat__form
      .Space__chat__form__area
        .Space__chat__form__area__textForm
          %input{type: "text", class: "Space__chat__form__area__textForm__text", placeholder: "type a message"}
          %label{class: "Space__chat__form__area__textForm__image"}
            = icon('far', 'image')
            %input{type: "file", class: "Space__chat__form__area__textForm__image--icon"}
        %input{type: "submit", value: "send", class: "Space__chat__form__area__sendBtn"}
