.Space
  .Space__sideBar
    .Space__sideBar__item
      .Space__sideBar__item__assist
        .Space__sideBar__item__assist__name
          masa
        .Space__sideBar__item__assist__icon
          = link_to "#", class: "Space__sideBar__item__assist__icon--btn" do
            = icon('fas', 'edit', class: "Space__sideBar__item__assist__icon--write")
            %span<>
          = link_to "#", class: "Space__sideBar__item__assist__icon--btn" do
            = icon('fas', 'cog', class: "Space__sideBar__item__assist__icon--setting")
            %span<>
    .Space__sideBar__list
      .Space__sideBar__list__message
        .Space__sideBar__list__message__groupName
          techcamp
        .Space__sideBar__list__message__currentMessage
          まだメッセージがありません
      .Space__sideBar__list__message
        .Space__sideBar__list__message__groupName
          techcamp
        .Space__sideBar__list__message__currentMessage
          まだメッセージがありません