.Space
  .Space__side_bar
    .Space__side_bar__item
      .Space__side_bar__item__assist
    .Space__side_bar__list
  .Space__chat
    .Space__chat__groupInfo
    .Space__chat__display
    .Space__chat__form

