.Base__chat__display__info{data: {chat: {id: chat.id}}}
  .Base__chat__display__info__name
    = chat.user.name
  .Base__chat__display__info__time
    = chat.created_at.strftime("%Y年%m月%d日 %H時%M分")
.Base__chat__display__text
  - if chat.content.present?
    %p.Base__chat__display__text__content
      = chat.content
  = image_tag chat.image.url, class: 'Base__chat__display__text__image' if chat.image. present?