.Base{
  &__chat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    &__groupInfo{
      background-color: #ffffff;
      height: 100px;
      border-bottom:1px solid #eeeeee;
      &__step{
        display: flex;
        justify-content: space-between;
        &__name{
          font-size: 20px;
          color:#333333;
          padding:35px 0 0 40px;
        }
        &__btn{
          color: #38aef0;
          text-decoration: none;
          font-size: 16px;
          border: 1px solid #38aef0;
          line-height: 40px;
          width: 72px;
          padding:0 20px;
          margin:28px 40px 0 0;
        }
      }
      &__member{
        font-size: 12px;
        color: #999999;
        padding:15px 0 0 40px;
      }
    }
    &__display{
      height:calc(100vh - 190px);
      background-color: #fafafa;
      padding-left: 40px;
      &__info{
        display: flex;
        padding-top: 35px;
        &__name{
          font-size: 16px;
          color: #333333;
          padding-bottom: 12px;
        }
        &__time{
          font-size: 12px;
          color: #999999;
          padding-left: 5px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
        margin-bottom: 11px; 
      }
    }
    &__form{
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
        &__area{
          display: flex;
          &__textForm{
            width: 100%;
            display: flex;
            position: relative;
            &__text{
              height: 50px;
              width: 100%;
              color: #434a54;
              border-style: none;
              padding:0 40px 0 10px;
            }
            &__image{
              cursor: pointer;
              position: absolute;
              right: 10px;
              top: 10px;
              &__icon{
                display: none;
              }
            }
          }
          &__sendBtn{
            width: 100px;
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
          }
        }
    }
  }
}