.Space{
  display: flex;
  &__side_bar{
    width: 300px;
    height: 100vh;
    background-color: #253141;
    &__item{
      height: 100px;
      display: flex;
      align-items: center;
        &__assist{
          height: 20px;
          width: 260px;
          margin:0 20px;
          display: flex;
          justify-content: space-between;
          &__name{
            font-size: 16px;
            color: #ffffff;
            font-weight: bold;
          }
          &__icon{
            width: 60px;
            text-align: right;
              &--btn{
                text-decoration: none;
                color: #ffffff;
                margin-left: 5px;
                &--write{
                }
                &--setting{
                }
              }
          }
        }
    }
    &__list{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      &__message{
        &__group_name{
          font-size: 15px;
          color:#ffffff;
          padding:20px 20px 5px 20px;
        }
        &__current_message{
          font-size: 11px;
          color:#ffffff;
          padding:0 20px 40px 20px;
        }
      }
    }
  }
  &__chat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
  
    &__groupInfo{
      background-color: #ffffff;
      height: 100px;
      border-bottom:1px solid #eeeeee;
    }
    &__display{
      height:calc(100vh - 190px);
      background-color: #fafafa;
    }
    &__form{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}