.Space{
  display: flex;
  &__side_bar{
    width: 300px;
    height: 100vh;
    background-color: #253141;
    &__item{
      height: 100px;
      display: flex;
      align-items: center;
        &__assist{
          height: 20px;
          width: 260px;
          margin:0 20px;
          background-color: #d8d8d8;
          display: flex;
          justify-content: space-between;
          &__name{
            font-size: 16px;
            color: black;
            font-weight: bold;
          }
          &__icon{
            width: 60px;
            background-color: gray;
            
          }
        }
    }
    &__list{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
    }
  }
  &__chat{
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
  
    &__groupInfo{
      background-color: #ffffff;
      height: 100px;
      border-bottom:1px solid #eeeeee;
    }
    &__display{
      height:calc(100vh - 190px);
      background-color: #fafafa;
    }
    &__form{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}